.shape{
  width: 400px;
  border: solid 1px green;
  padding: 20px;
  margin: 18px;
  background:   cadetblue;
}
.sp{
  background-color: orange;
}

.split{
  margin-left :450px;

}

.div1 {
  width: 350px;
  height: 190px;
  padding: 10px;
  border: 1px solid white;
}


.sub-entry {
  float: left;
}


